<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>dotfiles.theme.day</string>
        <key>UserName</key>
        <string>philip</string>
        <key>EnvironmentVariables</key>
        <dict>
            <key>HOME</key>
            <string>/Users/philip</string>
        </dict>

        <key>ProgramArguments</key>
        <array>
            <string>/bin/bash</string>
            <string>/Users/philip/.dotfiles/theme/macOS.sh</string>
            <string>day</string>
        </array>
        <key>StartCalendarInterval</key>
        <array>
            <dict>
                <key>Minute</key>
                <integer>20</integer>
                <key>Hour</key>
                <integer>5</integer>
            </dict>
            <dict>
                <key>Minute</key>
                <integer>40</integer>
                <key>Hour</key>
                <integer>5</integer>
            </dict>
            <dict>
                <key>Minute</key>
                <integer>0</integer>
                <key>Hour</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>Minute</key>
                <integer>20</integer>
                <key>Hour</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>Minute</key>
                <integer>40</integer>
                <key>Hour</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>Minute</key>
                <integer>0</integer>
                <key>Hour</key>
                <integer>7</integer>
            </dict>
            <dict>
                <key>Minute</key>
                <integer>20</integer>
                <key>Hour</key>
                <integer>7</integer>
            </dict>
            <dict>
                <key>Minute</key>
                <integer>40</integer>
                <key>Hour</key>
                <integer>7</integer>
            </dict>
            <dict>
                <key>Minute</key>
                <integer>0</integer>
                <key>Hour</key>
                <integer>8</integer>
            </dict>
        </array>
        <key>RunAtLoad</key>
        <true/>
    </dict>
</plist>
